{% extends "_base.html" %}
{% block title %}home{% endblock title %}

{% block context %}
<div class="main-wrapper">  
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <div class="item mb-5">
                    <div class="media-body">
                        <form method='GET' style='border:solid green; padding:20px; border-width:2px 3px 2px 3px;width:400px;border-radius:20px;height:80px;margin:5px;'>
                            {{form_search}}
                            <input type='submit' name='submit' value='search' class='btn btn-success' style='width:110px; height:32.5px;padding:2px;margin:2px;'>
                        </form>        
       </div><!--//media-body-->
            </div><!--//item-->
                </div><!--//media-->
            </div><!--//item--> 
           
{% for post in posts %}
<div class="main-wrapper">  
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <div class="item mb-5">
                    <div class="media-body">
                        <h3 class="title mb-1"><a href="{% url 'detail' post.id %}">{{post.title}}</a></h3>
                        <div class="meta mb-1"><span class="date">{{post.date_modified}}</span>
                        <span class="time">{{post.about}}</span>
                        <span class="comment"><a href="#">{{post.author}}</a></span>
                    </div>
                        <div class="intro">{{post.text|truncatewords:10}}</div>
                        <a class="more-link" href="{% url 'detail' post.id %}">Read more &rarr;</a>
                    </div><!--//media-body-->
            </div><!--//item-->
                </div><!--//media-->
            </div><!--//item--> 
            {% endfor %}
{% endblock context %}           



